.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0 32px;
}

.logo {
  width: 150px; /* Aumentei o tamanho do logo */
  margin-bottom: 40px; /* Aumentei o espaçamento inferior */
}

/* O .action-button já é global, mas podemos adicionar
   estilos específicos para a home se necessário */
.action-button {
  margin-top: 15px;
}