<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding yellow-background">
  <div class="container">
    <img src="assets/icon/logo.png" alt="Logo" class="logo">

    <ion-button 
      [routerLink]="['/login']" 
      routerDirection="forward"
      expand="block" 
      shape="round" 
      class="action-button">
      Ir para Login
    </ion-button>
  
    <ion-button 
      [routerLink]="['/cadastro']" 
      routerDirection="forward"
      expand="block" 
      shape="round" 
      class="action-button">
      Ir para Cadastro
    </ion-button>
  </div>
</ion-content>